*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #13151f;
}
.header{
    width: 100%;
    height: 15vh;
    background-color: #34495E;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
    position: fixed;
    
}
.logo{
    
    width: 5%;
    height: 9vh;
    display: flex;
   align-items: center;
    
  
    
   
}
.logo-img{
    width: 15vh;
    height: 15vh;
   
    
}
.container{
    
    width: 75%;
    display: flex;
    justify-content: center;
 
    
    align-items: center;
    column-gap: 110px;
}
.btn{
    background-color:transparent;
    border: 2px solid transparent;
    color: white;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
   
}
.btn:hover{
   color: #A1CCF7;
   transition: 0.7s;
}
.dropdown-button{
    background-color:transparent;
    border: 2px solid transparent;
    color: white;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}
.dropdown-button:hover{
    color: #A1CCF7;
    transition: 0.7s;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#6D7F91 ;
    height: 12vh;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}
.dropdown-content a {
    display: block;
    color: white;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 16px;
}
.dropdown-content a:hover {
    
    color: #A1CCF7;
    transition: 0.7s;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}
.login{
     
    background-color: #f9f9f9;
    width: 5%;
    height: 9vh;
}
.container-main{
    width: 100%;
    height: 100vh;
    background-color: #A7B6C4;
}


.container-footer{
    width: 100%;
    height: 40vh;
    background-color: #6D7F91;
    display: flex;
    justify-content:center;
    align-items: center;
    column-gap: 40vh;

}



.sub-container-footer{
    width: 100%;
    height: 3vh;
    background-color: #34495E;
    
      
      
}
.sub-container-footer p{
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
   
   display: flex;
   justify-content: center;
   align-items: center;
}
.h3{
    color: white;
    font-family: 'Quicksand', sans-serif;   
   
}
.column-heading {
   margin-bottom: 10px; /* Ajuste o valor conforme necessário */
  }
.text-contact{
    color: white;
    font-family: 'Quicksand', sans-serif;
}

.li{
    list-style:none;
}
  .a-links{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand', sans-serif;
    list-style: none;
  } 

  .a-links:hover{
    color: #A1CCF7;
    transition: 0.7s;
  }  



  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 75px;
    
  }







.button {
    --green: #73B9FF;
    font-size: 23px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: 'Inconsolata', monospace;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 132, 253, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 132, 253, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 125, 253, 0.4), 0 0 9px 3px rgba(27, 132, 253, 0.1);
    cursor: pointer;
    width: 25rem;
    height: 5rem;
  }
  
  .button:hover {
    color: #73B9FF;
    box-shadow: inset 0 0 10px rgba(27, 117, 253, 0.6), 0 0 9px 3px rgba(27, 87, 253, 0.2);
  }
  
  .button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 170, 253, 0.1) 40%,rgba(27, 181, 253, 0.1) 60% , transparent 100%);
  }
  
  .button:hover:before {
    transform: translateX(15em);
  }

/* modal */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 9999;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #34495E;
    padding: 20px;
    border-radius: 5px;
    width: 30rem;
    height: 30rem;

  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
  }

  .modal-logo-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    height: 11vh;
   
  }

  .modal-logo{
    display: flex;
    justify-content: center;
    height: 125px;
   
  }

  .main-text-modal{
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .main-text-modal h1{
    font-family: 'Inconsolata', monospace;
  }

  .login-field {
    color: #3d5a77;
    border: 2px solid #5a7b9c;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    width: 25.0rem;
    
   }
   
   .login-field:active {
    box-shadow: 2px 2px 15px #1081f1 inset;
   }

   .control-group-main{
    margin-top: 2.5rem;
    margin-left: 1rem;
    
   }

   .control-group {
    
    margin-top: 1rem;

   }
   .login-field::placeholder {
    color: #A1CCF7;
   }
   
   .modal-button {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: #73B9FF;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
  }
  
  .modal-button:hover {
    opacity: .95;
  }
  
  .modal-button .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
  }
  
  .modal-button-main{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
  }

  @keyframes ripple {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }
  
    100% {
      box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
  }












  /*TESTE*/

  
  


  


