*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #18191d;
  min-height: 100vh;

}
.header{
  width: 100%;
  height: 12vh;
  background-color: #34495E;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  position: fixed;
  z-index: 9999;
 
  
}
.logo{
  
  width: 5%;
  height: 9vh;
  display: flex;
 align-items: center;
  

  
 
}
.logo-img{
  width: 10vh;
  height: 10vh;
 
  
}
.container{
  
  width: 75%;
  display: flex;
  justify-content: center;

  
  align-items: center;
  column-gap: 110px;
}
.btn{
  background-color:transparent;
  border: 2px solid transparent;
  color: white;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
 
}
.btn a{
  text-decoration: none;
}
.btn:hover{
 color: #A1CCF7;
 transition: 0.7s;
}
.dropdown-button{
  background-color:transparent;
  border: 2px solid transparent;
  color: white;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}
.dropdown-button:hover{
  color: #A1CCF7;
  transition: 0.7s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#6D7F91 ;
  height: 12vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}
.dropdown-content a {
  display: block;
  color: white;
  font-size: 15px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  text-decoration: none;
  padding: 12px 16px;
}
.dropdown-content a:hover {
  
  color: #A1CCF7;
  transition: 0.7s;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}
.login{
   
  background-color: #f9f9f9;
  width: 5%;
  height: 9vh;
}



.main-content {
  width: 100%;
  position: relative;
}
.first-section {
  width: 100%;
  background-image: url(../img/Design\ sem\ nome\ \(1\).png); 
  background-size: cover;
  height: 120vh;
  position: relative;
}
.logo-text{
  display: flex;
  justify-content: center;
  
  width: 100%;
  height: 47vh;
}
.logo-text img{
  height: 500px;
  margin-top: -45px;
}
.text-button{
  text-align: center;
  z-index: 99999;
  

}

.text-button h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  letter-spacing: -2px;
  color: #fff;
  z-index: 99999;
  margin-bottom: 10px;
  
}

.text-button button{
  margin-top: 20px;
  width: 275px;
  height: 55px;

  border: #fff 2px solid;
  background-color: transparent;
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;

}

.text-button button:hover{
  color: rgb(226, 231, 243);
  background-color: #34495E;
  border: none;
  transition: 0.4s;
}

/*CARD*/
.card-container-first {
  display: flex;
  gap: 10px;
  margin-top: 150px;
  background-color: #18181a33;
  height: 35vh;
}

.card1 {
  flex: 1;
  height: 200px;
  background-color: transparent;
}

.card-content-first {
  padding: 20px;
  color: #fff;
  text-align: center;
  margin-top: 35px;
}

.card-content-first h2 {
  font-size: 30px;
  margin-bottom: 34px;
  font-family: 'MedievalSharp', cursive;
  font-weight: bold;
  cursor: pointer;
}

.card-content-first p {
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  margin: 0;
}


/*Introduction*/


.introduction{

  width: 100%;
  height: 85vh;
  display: flex;
  
}

.image-container-introduction{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

}


.image-container-introduction img{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.863);
  width: 75vh;
  height: 50vh;
  margin-right: 50px;
}

.text-container-introduction{
  width: 53%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.main-text-introduction{
  text-align: center;
  width: 37rem;
  height: 20rem;
}

.text1{
  text-align: center;
  
}


.text1 h1{
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 10px;
  
}

.text1 p{
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  margin-bottom: 10px;
  color: #fff;
  text-align: left;
  padding-left: 25px;
}

.button-introduction{
  text-align: center;
  margin-top: 50px;
}
.button-introduction button{
  width: 320px;
  height: 45px;
  background-color: #34495E;
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
  border-top:3px solid #54677c;
}

.button-introduction button:hover{
  color: #bdd0e2;
  background-color: #34495eda;
  transition: 0.2s;
}


/*Update*/

.update {
  background-color: #252730;
  margin-top: 40px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container-update {
  text-align: center;
  width: 100%;
  margin-bottom: 45px;
}

.text-container-update h1 {
  font-size: 50px;
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}

.image-update {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  width: calc(25% - 20px);
  margin: 10px;
  background-color: #2b3c4e;
  box-sizing: border-box;
  overflow: hidden;
  color: #fff;
  height: 30rem;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.568); /* Adicione esta linha para a sombra */
}

.card img {
  width: 100%;
  height: 200px;
}

.card-text {
  margin-top: 50px;
  padding: 15px;
  padding-left: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text p {
  font-size: 20px;
  text-align: left;
}

.card-date {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 18px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button-container button {
  width: 320px;
  height: 45px;
  background-color: transparent;
  font-size: 25px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 3px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;

}

.button-container button:hover{
  color: #fff;
  background-color: #34495E;
  transition: 0.4s;
  border: none;
}











/*GALLERY*/

.text-gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 45px;
  letter-spacing: 2px;
  background-color: #18191d;
}
.text-container-gallery h1{
  font-family: 'Inconsolata', monospace;
  font-size: 55px;
  letter-spacing: 2px;
  color: #fff;

}

.image-gallery {
  
  display: flex;
  overflow: hidden;
  height: 80vh; /* Altura inicial da seção */
}

.image-container {
  flex: 1;
  overflow: hidden;
  position: relative;
  transition: flex 0.2s ease; /* Adiciona transição apenas para a propriedade flex */
  cursor: pointer; /* Adiciona cursor apontando para indicar que é clicável */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem cubra o contêiner sem distorções */
}

.image-text {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  
  padding: 10px;
  background-color: transparent; /* Fundo transparente */
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-left: 5px solid transparent; /* Adiciona uma borda transparente à esquerda */
  border-right: 5px solid transparent; /* Adiciona uma borda transparente à direita */
  overflow: hidden;
}

.image-text::before,
.image-text::after {
  content: '';
  position: absolute;
  top: 0;
  width: 10px; /* Largura dos traços inclinados */
  height: 100%;
  background-color: #A7B6C4; /* Cor dos traços inclinados */
}

.image-text::before {
  left: -12px; /* Posição à esquerda para o traço inclinado */
  transform: skew(-45deg);
}

.image-text::after {
  right: -12px; /* Posição à direita para o traço inclinado */
  transform: skew(45deg);
}


.image-container:hover {
  flex: 3; /* Expande a imagem ao passar o mouse */
}

.image-container:hover .image-text {
  opacity: 1;
}


.button-gallery{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button-container-gallery {
  margin-top: 30px;
}
.button-container-gallery button {
  width: 275px;
  background-color: transparent;
  border: #fff 1px solid;
  height: 50px;
  color: #fff;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
}
.button-container-gallery button a {
text-decoration: none;
color: #fff;
}


.button-container-gallery button:hover{
  color: #bdd0e2;
  background-color: #34495e;
  transition: 0.1s;
  border: none;
}


/*FOOTER*/


.footer{
  background-color: #18191d;
  margin-top: 40px; 
  height: 60vh;
}

.first-footer{
  height: 12vh;
  background-color: #35363d;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: #fff;
  font-size: 14px;
  
}

.text-first-footer{
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
}

.text-first-footer h1:hover{
  background-color: #3e3f47;
  padding: 7px;
  transition: 0.2s;
  border-radius: 10px;
}

.second-footer{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-second-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.image-footer{
  background-color: #35363d;
  border-radius: 10px;
  margin-top: 20px;
  
}

.image-footer img{
  width: 100%;
  height: 35px;
  color: #fff;
  cursor: pointer;
}
.image-footer img:hover {
  background-color: #f2f3f8;
  border-radius: 10px;
  width: 100%;
  height: 35px;
}

.logo-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

}

.logo-footer img{
  width: 100%;
  height: 200px;
  cursor: pointer;
 
}

.text-footer {
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  display: flex;
  justify-content: center;
  height: 30px;
  
  color: #fff;
}



